
@font-face {
    font-family: "Raleway";
    src: url("M:\TZPROJ\src\UI_kit\colors&Type\Colors&TypeCSS\Raleway-VaribaleFont_wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
    font-size: 24px;
    } 
    